# infra-10022026-Maurice
# Modification type: add a safe local Compose environment template.
COMPOSE_PROJECT_NAME=ojt-tracker-local
APP_ENV=local
APP_DEBUG=false
APP_KEY=
PROVIDER_MODE=fake
ACADEMIC_PROVIDER_MODE=fake
ACADEMIC_PROVIDER_BASE_URL=
ACADEMIC_PROVIDER_KEY=
ACADEMIC_PROVIDER_CONNECT_TIMEOUT_SECONDS=2
ACADEMIC_PROVIDER_TIMEOUT_SECONDS=5
ACADEMIC_PROVIDER_ALLOW_LOCAL=false
DB_DATABASE=ojt_tracker
DB_USERNAME=ojt_tracker
DB_PASSWORD=
MYSQL_ROOT_PASSWORD=
APP_PORT=8088
