composer install
php artisan preset react
php artisan key:generate
php artisan migrate
php artisan tinker
$user = new App\User();
$user->password = Hash::make('123456');
$user->email = 'superuser@example.com';
$user->name = 'superuser';
$user->role = 'superuser';
$user->save();