composer install
php artisan preset react
npm install && npm run dev
npm install -g @storybook/cli
getstorybook
php artisan key:generate
php artisan migrate

php artisan tinker
$user = new App\User();
$user->password = Hash::make('123456');
$user->email = 'superuser@example.com';
$user->name = 'superuser';
$user->role = 'superuser';
$user->save();

php artisan passport:install

composer dump-autoload




# Production Server Deployment checklist:
# 1. .env file is present
# 2. virtualhost is correct and default virtualhost:80 is disabled/removed
# 3. check php version
# 4. change mix('js/app.js) to assets('js/app.js') in app.blade.php 